@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap');


@media screen and (min-width: 0px) {
  body {
    background-color: lightgreen;
  }
}

.card-container {
  padding-left: 20em;
  padding-right: 20em;
  background-color: #fff8e3; 
}

.title {
  color: #3B71CA;
  font-family: "Bevan", cursive;
  float: left;
  display: inline;
  align-self: center;
}

#login-nav-container {
  margin-left: auto;
}

#login-nav-container .btn {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 8px;
}

#above-fold-content {
  height: '100vh';
}

#learn-title  {
  display: block;
  color: #3B71CA;
  font-family: "Bevan", cursive; 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff8e3 !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y,0))
  translateY(var(--translate-y,0));
}

.cardl .front {
  left: 0;
  width: 100%;
  position: absolute;
  backface-visibility:hidden;
  padding-top: 5rem;
}

.cardl.animatein{
  transform: translateY(-1200px) scale(1.2);
}
.cardl.animateout {
  transform: translateY(1200px) scale(0.8);
}

.cardl.flip {
  --rotate-y: 180deg;
}

.cardl .back {
  transform: rotateY(180deg);
  width: 100%;
  backface-visibility:hidden;
}

.eventButtonActive {
  background-color: rgb(255 136 73) !important;
  border-radius: 0.5em;
  color: white;
}

.eventButton:hover {
  background-color: rgb(229, 229, 229);
  border-radius: 0.5em;
}



/*
PHONE
*/
@media screen and (max-width: 480px) {
  body {
    padding: 1.5rem;
  }
  #above-fold-content {
    display: block !important;
  }
  #above-fold-content .col-md-7 {
    width: 100%;
  }
  .info-panel {
    height: 50vh;
    padding: 1em;
    /* border-radius: 0.5em; */
    width: 100%;
    background-color: transparent !important;
  }
  .bg-light {
    background-color: transparent !important;
  }
  .card-container {
    padding-left: 0em;
    padding-right: 0em;
    background-color: #fff8e3; 
  }
  .options-container > .col {
    padding: 0px !important;
  }
  .options-container > .col > .card > .card-body {
    padding: 4em 1em !important;
  }
  .p-5 {
    padding: 0em !important;
  }

  #learn-title {
    text-align: center;
  }
}